@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>BugSquasher Contact Infomation</h3>

<address>
    Coder Foundry<br />
    Kernersville, NC 27284<br />
    <abbr title="Phone">P:</abbr>
    336.231.8632
</address>

<address>
    <strong>BugSquasher Creator:</strong>   <a href="mailto:shadowmil@gmail.com">Charles Miller</a><br />
    <strong>Sponsor:</strong> <a href="mailto:info@coderfoundry.com">CoderFoundry</a>
</address>