@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: #5fb611; font-style: italic; font-weight: bold;">BugSquasher</h1>
    <p style="font-style: italic;">Squashing Bugs And Chewing Bubble Gum Since 2014</p>
</div>

<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <h4>Demonstration Login</h4>
        <ul>
            <li><h5>Email: demo@example.com</h5></li>
            <li><h5>Password: Demo-12</h5></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Multiple Projects</h2>
        <p>
            Have more then one project you need to track bugs for?
            No problem! Bug Squasher offers support multiple projects
            with custom user permissions per projects.
        </p>
    </div>
    <div class="col-md-4">
        <h2>User Permission Per Project</h2>
        <p>
            You have the ability to manage user permissions per project.
            So if you have users who might only be part of one or two projects
            they don't have to worry about all the tickets on projects they are
            not members of.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Comments and Attachments</h2>
        <p>
            Users that are members of a project can comment and
            attach files to tickets that part of that project.
            So people can provide feedback on a ticket or upload
            files that can help you debug a ticket.
        </p>
    </div>
</div>